/* all */

.background {
    margin-top: 4rem;
    background: var(--backgroundCustom);
    min-height: calc(100vh - 15rem);

}

.container {
    max-width: 1000px;
    margin: auto;
}

/* DESCRIPTION */


.description {
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__textContainer {
    display: flex;
}

.description__title {
    color: rgb(var(--accent));
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

.description__text {
    font-size: 1.2rem;
    padding: 0 0.5rem;

}

.description__text::first-letter {
    font-size: 2rem;
    color: rgb(var(--accent));
}

/* CATEGORIES */

.categories {
    padding: 2rem 0.5rem 0 0.5rem;
    margin: 0 0.5rem;

}

.categories__container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories__itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(var(--accent));
}

.categories__itemContainerActive {
    box-shadow: 0 0 10px rgb(var(--accent));
}

.categories__itemFigure {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50%);
}

.categories__itemImg {
    max-width: 100%;
    max-height: 100%;
}

.categories__itemDesc {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}


.title {
    text-align: center;
    font-size: 2rem;
    padding: 0 2rem;
    font-weight: bold;
}


/* FILTERS*/

.filter {
    padding: 2rem 0.5rem 0 0.5rem;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: white;
}

.filter__itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter__itemContainerForCar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.filter__itemContainerSmall {
    min-width: 12rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.filter__itemDesc {
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.filter__itemList {
    background-color: white;
    color: rgba(var(--accent), 1);
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid rgba(var(--accent), 0.3);
    /* box-shadow: 0 0 10px rgba(var(--accent), 0.3); */
    outline: none;
}

.filter__itemList:disabled {
    background-color: rgb(245, 245, 245);
}

.filter__itemContainerItems {
    display: flex;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.btnContainerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    outline: none;
    border: 0.1rem solid rgba(var(--accent), 1);
    background: white;
    box-shadow: 0 0 10px rgba(var(--accent), 0.5);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 0 20px rgba(var(--accent), 0.5);
}

.btn:active {
    box-shadow: none;
    background: rgba(var(--accent), 1);
    color: white;
}

.ads {
    margin: 0 0.5rem;
    padding: 2rem 0.5rem 0 0.5rem;
}