/* all */

.background {
    margin-top: 4rem;
    background: var(--backgroundCustom);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding: 0 2rem;
    font-weight: bold;
}


/* DESCRIPTION */


.description {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
}

.description__icon {
    flex: 1;
}

.description__textContainer {
    flex: 1;
}

.description__title {
    color: rgb(var(--accent));
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

.description__text {
    font-size: 1.2rem;
    padding-top: 2rem;
}

.description__text::first-letter {
    font-size: 2rem;
}

/* FILTERS*/

.filter {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.filter__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;

}


.filter__itemContainer {
    min-width: 12rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.filter__itemDesc {
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.filter__itemList {
    background-color: white;
    color: rgba(var(--accent), 1);
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid rgba(var(--accent), 0.3);
    /* box-shadow: 0 0 10px rgba(var(--accent), 0.3); */
    outline: none;
}

.filter__itemContainerItems {
    display: flex;
}

.btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    outline: none;
    border: 0.1rem solid rgba(var(--accent), 1);
    background: white;
    box-shadow: 0 0 10px rgba(var(--accent), 0.5);
    cursor: pointer;
    margin-top: 2rem;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 0 20px rgba(var(--accent), 0.5);
}

.btn:active {
    box-shadow: none;
    background: rgba(var(--accent), 1);
    color: white;
}



/* ALL ADDS */

.adds {
    padding: 2rem 1rem;
}


.adds__itemsContainer {}

.adds__item {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    text-decoration: none;
}

.adds__itemContainer {
    display: flex;
}

.adds__itemFigure {
    width: 10rem;
    height: 7.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adds__itemImg {
    max-width: 100%;
    max-height: 100%;
}

.adds__itemDescContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adds__itemDescTop {
    display: flex;
    font-size: 1.5rem;
}

.adds__itemDescBottom {
    display: flex;
    font-size: 1rem;
}

.adds__itemDescRight {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
}

.adds__itemText {
    font-size: inherit;
    padding: 0.5rem;
}