.background {
    margin-top: 4rem;
    background: var(--backgroundCustom);
    min-height: calc(100vh - 15rem);
    position: relative;


}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem;
}

.btnContainer {
    display: flex;
    padding: 1rem 0 2rem 0;
}

.btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    outline: none;
    border: 0.1rem solid rgba(var(--accent), 1);
    background: white;
    box-shadow: 0 0 10px rgba(var(--accent), 0.5);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 0 20px rgba(var(--accent), 0.5);
}

.btn:active {
    box-shadow: none;
    background: rgba(var(--accent), 1);
    color: white;
}



/* PHOTOS SECTION */

.photos__section {
    padding: 2rem;
    background-color: white;
    margin-bottom: 2rem;
    position: relative;

}

.photos {
    display: flex;
}

.photos__container {
    padding: 2rem 1rem 0 0;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photos__figureBig {
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding-top: 75%;
    position: relative;
}

.photos__imgBig {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.photos__containerSmall {
    width: 100%;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.photos__figureSmall {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding-top: 75%;
    position: relative;
    cursor: pointer;
    border: 0.2rem solid transparent;

}

.photos__figureSmallBorder {
    border: 0.2rem solid rgba(var(--accent), 1);
}

.photos__imgSmall {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photos__descRight {
    flex: 1;
    padding: 2rem 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.photos__itemDescTopContainer {
    display: flex;
    flex-wrap: wrap;
}

.photos__itemTextTitle {
    font-size: 2rem;
    padding-right: 1rem;
    font-weight: 500;
}

.photos__itemTextPrice {
    font-size: 1.5rem;
    font-weight: bold;
}

.photos__itemDescRightContainerRegion {

    padding-top: 2rem;
}

.photos__itemTextRegion {
    font-size: 1.2rem;
    padding: 1rem 1rem 0 0;

}



/* DESC params and meet SECTION */

.desc {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: white;
}

.desc__title {
    font-size: 2rem;
    font-weight: bold;
}

.desc__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc__text {
    padding: 1rem 0 0 1rem;
    font-size: 1rem;
}

.desc__containerUser {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;

}

.desc__containerfigure {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(50%);
}

.desc__containerimg {
    max-width: 100%;
    max-height: 100%;
}

.desc__textName {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.desc__containerContact {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
}

.desc__svg {
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
}

.desc__textContact {
    font-size: 1rem;
    color: black;
}

.ad__container {
    padding: 1rem 0 0 1rem;
}

.ad__containerEquipment {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-color: rgb(var(--accent));
}

.ad__legendEquipment {
    font-size: 1rem;
    font-weight: bold;
}

.ad_itemContainerEquipment {
    display: flex;
    align-items: center;
}

.ad_svgContainerEquipment {
    height: 1rem;
    width: 1rem;
    fill: green;
}

.ad__textCheckBoxEquipment {
    padding: 0 1rem 0 0.2rem;
    font-size: 1rem;
}


.admin__itemContainer {
    min-width: 12rem;
    padding: 0.5rem;
}

.admin__itemDesc {
    display: flex;
    padding: 1rem 0;
    font-size: 1rem;
}

.admin__itemList {
    background-color: white;
    color: rgba(var(--accent), 1);
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid rgba(var(--accent), 0.3);
    /* box-shadow: 0 0 10px rgba(var(--accent), 0.3); */
    outline: none;
}

.admin__itemButton {
    padding: 0.2rem 0.6rem;
    margin: 2rem 0;
    font-size: 1rem;
    outline: none;
    border: 0.1rem solid black;
    background: white;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.admin__itemButton:active {
    box-shadow: 0 0 20px rgba(var(--accent), 0.5);
}


@media (max-width: 800px) {
    .photos__descRight {
        display: none;
    }
}